<div class="container">
    <div class="row pt-3">
        <div class="col-md-6 ">

            <H4>Admin Portal</H4>

        </div>
        <div class="col-6 text-end">
            <button class="btn btn-success " (click)="openModal()">Add New</button>
            
        </div>

       <br>

        @if (products.length !=0)
        {
            <br>
        <div class="row">

            @for (item of products; track $index) {

            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                {{item.name}}
                            </div>
                            <div class="col-6 text-end">
                                {{item.price}} $
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <p>{{item.description}}</p>

                    </div>
                    <div class="card-footer text-center">
                        <div class="row">
                            <div class="col-15">
                                <small>Product ID = {{item.id}}</small>

                                <div id="editDeleteButton">
                                    <button type="button" class="btn btn-primary btn-sm" (click)="editProduct(item)">Edit</button>
                                    <span style="margin-right: 2px;"></span>
                                    <button style="margin-right: 16px;" type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(item)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <br>

            </div>

            }

        </div>
        }
        @else
        {
        <div class="row">
            <div class="col-12 text-center">
                <h4>No Plans Found</h4>
            </div>
        </div>
        }



        <!-- ******************************************************************************* -->

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Plans</h4>
                        <button type="button" class="btn-close" (click)="closeModal()"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">

                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="">Plan Name</label>
                                <input type="text" [(ngModel)]="productObj.name" class="form-control"
                                    placeholder="Plan Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="">Plan Price</label>
                                <input type="text" [(ngModel)]="productObj.price" class="form-control"
                                    placeholder="Plan Price">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="">Plan Description</label>
                                <textarea rows="3" [(ngModel)]="productObj.description"
                                    class="form-control"></textarea>

                            </div>
                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
                        @if (productObj.id==0)
                        {
                        <button type="button" class="btn btn-primary" (click)="saveProduct()">Save</button>
                        }
                        @else
                        {
                        <button type="button" class="btn btn-warning" (click)="updateProduct()">Update</button>
                        }

                    </div>

                </div>
            </div>
        </div>